@section scripts
{
    @Scripts.Render("~/BookBundle/create")
}

<form data-bind="submit: post">
    <fieldset>
        <legend>CatalogBook</legend>

        <div class="editor-label">
            Name
        </div>
        <div class="editor-field">
            <input type="text" required data-bind="value: name" />
        </div>

        <div class="editor-label">
            Isbn
        </div>
        <div class="editor-field">
            <input type="text" data-bind="value: isbn" required />
        </div>

        <div class="editor-label">
           Author
        </div>
        <div class="editor-field">
            <input type="text" data-bind="value: author" required />
        </div>

        <div class="editor-label">
            Suggested price
        </div>
        <div class="editor-field">
            <input type="text" data-bind="value: suggestedPrice" required />
        </div>
        
        <div class="editor-label">
            Our price
        </div>
        <div class="editor-field">
            <input type="text" data-bind="value: ourPrice" required />
        </div>
        
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
</form>

<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
