@section scripts
{
    @Scripts.Render("~/BookBundle/index")
}

<h1>Books (Catalog and Pricing)</h1>

<table>
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Name</th>
            <th>Author</th>
            <th>Suggested Price</th>
            <th>Our Price</th>    
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-bind="text: isbn"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: author"></td>
            <td data-bind="text: suggestedPrice"></td>
            <td data-bind="text: ourPrice"></td>
        </tr>
    </tbody>
</table>